/* Colors  */

/*
60% of #c85be7 - Primary 
30% of #e75bc0 - Secondary
10% of #825be7 - Accent 
*/

:root {

/* var(--primaryColor) !important; */
--primarycolor: #c85be7;

/* var(--secondaryColor) !important; */
--secondarycolor: #e75bc0;

/* var(--accesntColor) !important; */
--accentcolor: #825be7;





}