/* Colors */

/*
60% of #c85be7 - Primary
30% of #e75bc0 - Secondary
10% of #825be7 - Accent 
*/

:root {

    /* Var(--primaryColor) !important; */
    --primaryColor: #c85be7; 

    /* Var(--secondaryColor) !important; */
    --secondaryColor: #e75bc0; 

    /* Var(--asscentColor) !important; */
    --asscentColor: #825be7; 


}