@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');





/* Colors */

/*
60% of #c85be7 - Primary
30% of #e75bc0 - Secondary
10% of #825be7 - Accent 
*/

:root {

    /* var(--primaryColor) !important; */
    --primaryColor: #c85be7; 

    /* var(--secondaryColor) !important; */
    --secondaryColor: #e75bc0; 

    /* var(--asscentColor) !important; */
    --asscentColor: #825be7; 

     /* var(--fontFamily) !important; */
     --fontFmaily: "Playfair Display", serif;



}